@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');



body{
    margin:0;
    font-family: 'Ubuntu Mono';
    background-color: black;
  }
  
  #particles-js{
    background:black;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.particles-js-canvas-el {
    position: absolute;
}

h1{
    padding-left: 1rem;
    color: white;
    text-align: center;
}

.spacing-card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

h1:hover {
    color: blue;
}

p .eigen{
    color: white;
}

